<config>
    <input>
		<jar in="build/client/*.jar" out="final/*.jar"/>

    </input>
	<classpath>
		<jar name="obj/*.jar"/>
	</classpath>
    <keep-names>
        <class access="protected+">
            <field access="protected+"/>
            <method access="protected+"/>
        </class>
    </keep-names>

    <property name="log-file" value="log.xml"/>
</config>
