<config>
    <input>
		<jar in="build/client/desktop-1.1-SNAPSHOT.jar" out="final/desktop.jar"/>
        <jar in="build/client/shared-1.1-SNAPSHOT.jar" out="final/shared.jar"/>

    </input>
	<classpath>
		<jar name="obj/*.jar"/>
	</classpath>
    <keep-names>
        <class access="protected+">
            <field access="protected+"/>
            <method access="protected+"/>
        </class>
    </keep-names>

    <property name="log-file" value="log.xml"/>
</config>
